[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "snqueue"
version = "0.0.2"
description = "An SNS/SQS implementation of event messenger"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
dependencies = [
  "boto3",
]

[project.urls]
"Homepage" = "https://github.com/littledumb/snqueue"
"Bug Tracker" = "https://github.com/littledumb/snqueue/issues"