# default granulemeta-v2 configuration

filename_regex = None

#file_date_in_format = %y%m%d
#file_date_out_format = %Y/%m/%d

#file_time_in_format = %H%M%S
#file_time_out_format = %H:%M:%S

#DEFAULT VALUES FOR TESTING SCRIPT
ref_dir = ./tests/ref-files/
ref_gmout_file = ref_gmout.csv
ref_stdout_file = ref_stdout.txt

out_dir = ./tests/out-files/
out_gmout_file = out_gmout.csv
out_stdout_file = out_stdout.txt

test_data_dir = ../granulemeta-test-data/