# Map GDAL/OGR formats into types (i.e. tabular, vector, and raster)
ICARTT=tabular
AERONAVFAA=vector
AmigoCloud=vector
AO=vector
ARCGEN=vector
AVCBIN=vector
AVCE00=vector
BNA=vector
CAD=vector
CARTO=vector
Cloudant=vector
CouchDB=vector
CSV=tabular
CSW=vector
DB2=vector
DGN=vector
DGNv8=vector
DWG=vector
DXF=vector
EDIGEO=vector
EEDA=vector
Elasticsearch=vector
ESRIJSON=vector
FileGDB=vector
FlatGeobuf=vector
FME=vector
Geoconcept=vector
GeoJSON=vector
GeoJSONSeq=vector
Geomedia=vector
GeoRSS=vector
GML=vector
GMLAS=vector
GMT=vector
GPKG=vector
GPSBabel=vector
GPX=vector
GRASS=vector
GTM=vector
HTF=vector
IDB=vector
IDRISI=vector
INTERLIS 1=vector
INTERLIS 2=vector
INGRES=vector
JML=vector
KML=vector
LIBKML=vector
LVBAG=vector
MapML=vector
MDB=vector
Memory=vector
MITAB=vector
MongoDB=vector
MongoDBv3=vector
MSSQLSpatial=vector
MVT=vector
MySQL=vector
NAS=vector
netCDF=vector
NGW=vector
UK .NTF=vector
OAPIF=vector
OCI=vector
ODBC=vector
ODS=vector
OGDI=vector
OpenAir=vector
OpenFileGDB=vector
OSM=vector
PDF=vector
PDS=vector
PostgreSQL=vector
PGDump=vector
PGeo=vector
PLScenes=vector
S57=vector
SDTS=vector
SEGUKOOA=vector
SEGY=vector
Selafin=vector
ESRI Shapefile=vector
SOSI=vector
SQLite=vector
SUA=vector
SVG=vector
SXF=vector
TIGER=vector
TopoJSON=vector
VDV=vector
VFK=vector
Walk=vector
WAsP=vector
WFS=vector
XLS=tabular
XLSX=tabular
XPlane=vector
AAIGrid=raster
ACE2=raster
ADRG=raster
AIG=raster
AIRSAR=raster
ARG=raster
BAG=raster
BLX=raster
BMP=raster
BPG=raster
BSB=raster
BT=raster
BYN=raster
CALS=raster
CEOS=raster
COASP=raster
COG=raster
COSAR=raster
CPG=raster
CTable2=raster
CTG=raster
DAAS=raster
DDS=raster
DERIVED=raster
DIMAP=raster
DIPEx=raster
DODS=raster
DOQ1=raster
DOQ2=raster
DTED=raster
E00GRID=raster
ECRGTOC=raster
ECW=raster
EEDAI=raster
EHdr=raster
EIR=raster
ELAS=raster
ENVI=raster
EPSILON=raster
ERS=raster
ESAT=raster
ESRIC=raster
EXR=raster
FAST=raster
FIT=raster
FITS=raster
FujiBAS=raster
GenBin=raster
GeoRaster=raster
GFF=raster
GIF=raster
GRASSASCIIGrid=raster
GRIB=raster
GS7BG=raster
GSAG=raster
GSBG=raster
GSC=raster
GTA=raster
GTiff=raster
GXF=raster
HDF4=raster
HDF5=raster
HEIF=raster
HF2=raster
HFA=raster
IDA=raster
RST=raster
IGNFHeightASCIIGrid=raster
ILWIS=raster
INGR=raster
IRIS=raster
ISCE=raster
ISG=raster
ISIS2=raster
ISIS3=raster
JDEM=raster
JP2ECW=raster
JP2KAK=raster
JP2LURA=raster
JP2MrSID=raster
JP2OpenJPEG=raster
JPEG=raster
JPEG2000=raster
JPEGLS=raster
JPIPKAK=raster
KEA=raster
KMLSuperoverlay=raster
KRO=raster
L1B=raster
LAN=raster
LCP=raster
Leveller=raster
LOSLAS=raster
MAP=raster
MRF=raster
MBTiles=raster
MEM=raster
MFF=raster
MFF2=raster
MG4Lidar=raster
MrSID=raster
MSG=raster
MSGN=raster
NDF=raster
netCDF=raster
NGSGEOID=raster
NITF=raster
NTv1=raster
NTv2=raster
NWT_GRD=raster
NWT_GRC=raster
OGCAPI=raster
OZI=raster
JAXAPALSAR=raster
PAux=raster
PCIDSK=raster
PCRaster=raster
PDS4=raster
PLMosaic=raster
PNG=raster
PNM=raster
PostGISRaster=raster
PRF=raster
R=raster
Rasdaman=raster
Rasterlite=raster
RDA=raster
RDB=raster
RIK=raster
RMF=raster
ROI_PAC=raster
RPFTOC=raster
RRASTER=raster
RS2=raster
SAFE=raster
SAR_CEOS=raster
SAGA=raster
SENTINEL2=raster
SGI=raster
SIGDEM=raster
SNODAS=raster
SRP=raster
SRTMHGT=raster
Terragen=raster
TGA=raster
TIL=raster
TileDB=raster
TSX=raster
USGSDEM=raster
VICAR=raster
VRT=raster
WCS=raster
WEBP=raster
WMS=raster
WMTS=raster
XPM=raster
XYZ=raster
ZMAP=raster