# default granulemeta-v3 configuration

filename_regex = None

#file_date_in_format = %y%m%d
#file_date_out_format = %Y/%m/%d

#file_time_in_format = %H%M%S
#file_time_out_format = %H:%M:%S

#DEFAULT VALUES FOR TESTING SCRIPT
ref_dir = ./tests/ref-files/
ref_gmout_file = ref_gmout.csv
ref_stdout_file = ref_stdout.txt

out_dir = ./tests/out-files/
out_gmout_file = out_gmout.csv
out_stdout_file = out_stdout.txt

test_data_dir = ../granulemeta-test-data/

# variable overrides
ds_id = 9999
granule_id_prefix = 8888
granule_id = 99
gr_id = XX

subdir = path/to/nowhere/
filename = junk_file.nc
title = fake title

#start_time = 11/08/1983 22:40:32
#end_time = 11/08/1984 00:00:00
#OR#
#start_date = 11/08/1983 22:40:32
#end_date = 11/08/1984 00:00:00
#OR#
start_date = 11/08/1983
start_time = 22:40:32
end_date = 11/08/1984
end_time = 00:00:00

max_lat = 39.0
min_lat = 38.0
max_lon = -122.0
min_lon = -124.0

file_type = jpeg
file_format = msPaint

geometry_type = XX

day_night = X

file_size_mb = -99.99
checksum_md5 = MD5MD5MD5MD5MD5

n_variables = -1

variables = time,cats
variables_units = meows/second
variable_desc = quantifying cat sounds over time
calendar = julian

native_datatype = FLOAT8

offered_resampling = FURTHEST,MAXIMUM,TRILINEAR

native_crs = NATIVE CRS
native_crs_wkt = NATIVE WKT
native_crs_proj4 = NATIVE PROJ4

offered_crs = OFFERED CRS

res_x = 00
res_y = 00
res_z = 00

min_x = -99
min_y = -99
min_z = -99

max_x = 99
max_y = 99
max_z = 99

map_units = arshin
z_units = -1

n_cols = 99
n_rows = 999
n_bands = 9

scaling = 9
offset = 9

time_series = ???

min_val = -9999
max_val = 9999
mean_val = 3.14
stddev_val = 1.4142135
nodata_val = 1234

break_method = 9
num_of_classes = 9
color_scheme = black and white

b_reverse_color = 9
b_use_parent_color_scheme = 9
b_enhance = 9

lut = ????
feature_notes = FEATURES!
additional_information = INFO!
